/*@font-face {
  font-family: 'ClanPro';
  src: url('../fonts/ClanPro-Bold.eot');
  src: url('../fonts/ClanPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ClanPro-Bold.woff') format('woff'),
    url('../fonts/ClanPro-Bold.ttf') format('truetype'),
    url('../fonts/ClanPro-Bold.svg#ClanPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ClanPro';
  src: url('../fonts/ClanPro-Book.eot');
  src: url('../fonts/ClanPro-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ClanPro-Book.woff') format('woff'),
    url('../fonts/ClanPro-Book.ttf') format('truetype'),
    url('../fonts/ClanPro-Book.svg#ClanPro-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?n3ohed');
  src: url('../fonts/icomoon.eot?n3ohed#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?n3ohed') format('truetype'), url('../fonts/icomoon.woff?n3ohed') format('woff'), url('../fonts/icomoon.svg?n3ohed#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bleft:before {
  content: "\e919";
}
.icon-bright:before {
  content: "\e91a";
}
.icon-bbottom:before {
  content: "\e91b";
}
.icon-semanal:before {
  content: "\e91c";
}
.icon-mensual:before {
  content: "\e91d";
}
.icon-general:before {
  content: "\e91e";
}
.icon-talento:before {
  content: "\e91f";
}
.icon-herramientas:before {
  content: "\e920";
}
.icon-destreza:before {
  content: "\e921";
}
.icon-login:before {
  content: "\e906";
}
.icon-entrar:before {
  content: "\e904";
}
.icon-enviar:before {
  content: "\e922";
}
.icon-badge1:before {
  content: "\e908";
}
.icon-badge2:before {
  content: "\e909";
}
.icon-badge3:before {
  content: "\e90a";
}
.icon-badge4:before {
  content: "\e90b";
}
.icon-foto:before {
  content: "\e923";
}
.icon-menu:before {
  content: "\e900";
}
.icon-cross:before {
  content: "\e901";
}
.icon-left:before {
  content: "\e902";
}
.icon-right:before {
  content: "\e905";
}
.icon-buscar:before {
  content: "\e90c";
}
.icon-editar:before {
  content: "\e907";
}
.icon-decalogo:before {
  content: "\e903";
}
html,
body,
ul,
ol,
figure,
fieldset,
input,
select,
textarea,
button {
  border: 0;
  margin: 0;
  padding: 0;
}
.inner {
  margin: auto;
  max-width: 804px;
  position: relative;
  width: 90%;
}
body {
  color: #373734;
}
body.login {
  background-attachment: fixed;
  background-image: url('../img/login.jpg');
  background-position: 50%;
  background-size: cover;
}
body.login main .logo {
  display: block;
  left: 50%;
  position: absolute;
  top: 4vh;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
body.login main .logo img {
  display: block;
  height: 100px;
}
body,
input,
select,
textarea,
button {
  background-color: #FAFAFA;
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
}
h2 {
  text-align: center;
}
h2 i,
h2 span {
  display: inline-block;
  vertical-align: middle;
}
h2 i {
  font-size: 30px;
}
h2 span {
  font-size: 36px;
}
h5 {
  font-weight: 500;
  text-align: center;
}
a {
  color: #373734;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
b,
strong {
  font-weight: 900;
}
header a {
  color: #373734;
  line-height: 100%;
  text-decoration: none;
}
.rojo {
  background-color: #898989;
}
.cremac {
  background-color: #f7f1ed;
}
.cremao {
  background-color: #e1d2c6;
}
.patron {
  background-attachment: fixed;
  background-image: url('../img/patron.png');
  background-position: 50%;
  background-size: 42%;
}
.figurac {
  background-image: url('../img/figurac.jpg');
  background-size: cover;
}
.figurao {
  background-image: url('../img/figurao.jpg');
  background-size: cover;
}
.foto {
  background-image: url('../img/heisenberg.jpg');
  background-size: cover;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: relative;
  width: 42px;
}
.foto:after {
  content: '';
  display: block;
  padding-top: 100%;
}
.foto .vista-previa {
  background-color: #e8d9ce;
  background-image: url('../img/cara.png');
  background-size: cover;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
}
.foto input {
  height: 100%;
  left: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  width: 100%;
}
.jq-ry-container {
  position: relative;
  padding: 0 5px;
  line-height: 0;
  display: block;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.jq-ry-container[readonly="readonly"] {
  cursor: default;
}
.jq-ry-container > .jq-ry-group-wrapper {
  position: relative;
  width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
  position: relative;
  line-height: 0;
  z-index: 10;
  white-space: nowrap;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
  display: inline-block;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
  width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
  width: 0;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
main section {
  padding: 30px 0;
  position: relative;
}
main section.metas {
  background-color: #898989;
  background-attachment: fixed;
  background-image: url('../img/patron.png');
  background-size: 42%;
  font-size: 0;
  padding: 0;
}
main section.metas:before {
  background-color: #c20339;
  background-attachment: fixed;
  background-image: url('../img/patron.png');
  background-size: 42%;
  content: '';
  display: block;
  left: 0px;
  height: 100%;
  position: absolute;
  right: 33.33%;
  width: 33.33%;
}
main section.metas .inner {
  text-align: justify;
}
main section.metas .inner:after {
  content: '';
  display: inline-block;
  width: 100%;
}
main section.metas .inner div {
  color: #e8d9ce;
  display: inline-block;
  padding: 36px 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  /*
          span{
            display: block;
            font-size: 12px;
            left: 50%;
            position: absolute;
            top: 50%;
            .transform(translate(-50%,-50%));
            big{
              position: absolute;
              right: 100%;
            }
            b,small{
              display: block;
              line-height: 100%;
              padding-left: 8px;
              white-space: nowrap;
            }
            small{
              font-size: 9px;
            }
          }*/

}
main section.metas .inner div big {
  display: block;
  font-size: 24px;
}
main section.metas .inner div span {
  font-size: 12px;
}
main section.metas .inner div span big {
  position: absolute;
  right: 100%;
  -webkit-transform: translateX(-25%);
  -moz-transform: translateX(-25%);
  -o-transform: translateX(-25%);
  -ms-transform: translateX(-25%);
  transform: translateX(-25%);
}
main section.metas .inner div span b,
main section.metas .inner div span small {
  display: block;
  line-height: 100%;
}
main form fieldset ul {
  font-size: 0;
}
main form fieldset ul li {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 21px;
  vertical-align: top;
}
main form fieldset ul.columns li {
  width: 50%;
}
main form fieldset .campo {
  border-color: #373734;
  border-style: solid;
  border-width: 1px;
  position: relative;
}
main form fieldset .campo label,
main form fieldset .campo input,
main form fieldset .campo select,
main form fieldset .campo textarea {
  display: block;
}
main form fieldset .campo label {
  color: #e8d9ce;
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  padding: 0 16px;
  top: 0;
  text-transform: uppercase;
}
main form fieldset .campo input[type=text],
main form fieldset .campo select,
main form fieldset .campo textarea {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  color: #fafafa;
  bottom: 0;
  display: block;
  font-size: 12px;
  height: 32px;
  outline: 0;
  padding: 0 16px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: middle;
  width: 100%;
}
main form fieldset .campo i {
  border-color: inherit;
  border-style: inherit;
  border-width: inherit;
  display: block;
  height: 5px;
  position: absolute;
  width: 5px;
}
main form fieldset .campo i.tl,
main form fieldset .campo i.tr {
  bottom: 100%;
}
main form fieldset .campo i.bl,
main form fieldset .campo i.br {
  top: 100%;
}
main form fieldset .campo i.tl,
main form fieldset .campo i.bl {
  right: 100%;
}
main form fieldset .campo i.tr,
main form fieldset .campo i.br {
  left: 100%;
}
main form button {
  background-color: transparent;
  color: #e8d9ce;
  cursor: pointer;
  display: block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 40px auto 0;
}
main form button i {
  display: block;
  font-size: 30px;
  margin-top: 10px;
}
main form.login fieldset,
main form.registro-usuario fieldset {
  position: relative;
  padding-left: 160px;
}
main form.login fieldset .foto,
main form.registro-usuario fieldset .foto {
  background-color: #c7b299;
  height: 140px;
  position: absolute;
  left: 0;
}
main form.login fieldset .campo,
main form.registro-usuario fieldset .campo {
  height: 32px;
  margin-top: 32px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
main form.login fieldset .campo label,
main form.registro-usuario fieldset .campo label,
main form.login fieldset .campo input,
main form.registro-usuario fieldset .campo input,
main form.login fieldset .campo select,
main form.registro-usuario fieldset .campo select {
  position: absolute;
  top: 0;
}
main form.login fieldset .campo label,
main form.registro-usuario fieldset .campo label {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
main form.login fieldset .campo select,
main form.registro-usuario fieldset .campo select {
  height: 30px;
}
main form.login fieldset .campo.lleno,
main form.registro-usuario fieldset .campo.lleno {
  border-color: #e8d9ce;
}
main form.login fieldset .campo.lleno label,
main form.registro-usuario fieldset .campo.lleno label {
  top: -32px;
}
main form.login {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 320px;
}
main form.login fieldset {
  padding-left: 0;
}
main form.login fieldset ul li {
  display: block;
}
main form.login fieldset ul li .campo {
  border-color: #fafafa;
}
main form.login button {
  margin-bottom: 9vh;
}
main form.login a {
  color: #e8d9ce;
  display: block;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 4vh;
}
main form.registro-iniciativa h4,
main form.tips h4 {
  font-size: 16px;
  margin: 32px 20% 16px;
  text-align: center;
}
main form.registro-iniciativa h4 + h5,
main form.tips h4 + h5 {
  margin-top: -8px;
}
main form.registro-iniciativa fieldset,
main form.tips fieldset {
  margin: auto;
  width: 60%;
}
main form.registro-iniciativa fieldset label,
main form.tips fieldset label {
  display: block;
  font-size: 16px;
  margin: 32px 0 16px;
  text-transform: uppercase;
}
main form.registro-iniciativa fieldset .campo label,
main form.tips fieldset .campo label,
main form.registro-iniciativa fieldset .campo select,
main form.tips fieldset .campo select,
main form.registro-iniciativa fieldset .campo input,
main form.tips fieldset .campo input {
  color: #373734;
}
main form.registro-iniciativa fieldset .campo.textarea textarea,
main form.tips fieldset .campo.textarea textarea {
  background-color: transparent;
  color: #373734;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 128px;
  overflow: auto;
  padding: 8px 16px;
  resize: none;
  width: 100%;
}
main form.registro-iniciativa fieldset .campo.lista ol,
main form.tips fieldset .campo.lista ol {
  line-height: 32px;
  margin-top: -1px;
  padding-left: 30px;
}
main form.registro-iniciativa fieldset .campo.lista ol li,
main form.tips fieldset .campo.lista ol li {
  position: relative;
}
main form.registro-iniciativa fieldset .campo.lista ol li:before,
main form.tips fieldset .campo.lista ol li:before {
  background-color: #373734;
  content: '';
  display: block;
  height: 1px;
  left: -30px;
  position: absolute;
  right: 0;
  top: 0;
}
main form.registro-iniciativa fieldset .campo.lista ol li textarea,
main form.tips fieldset .campo.lista ol li textarea {
  color: #373734;
  display: inline-block;
  vertical-align: top;
}
main form.registro-iniciativa fieldset.categoria,
main form.tips fieldset.categoria {
  font-size: 0;
}
main form.registro-iniciativa fieldset.categoria input,
main form.tips fieldset.categoria input {
  position: absolute;
}
main form.registro-iniciativa fieldset.categoria label,
main form.tips fieldset.categoria label {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin: 0 0 16px;
  text-align: center;
  vertical-align: top;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 33.33%;
}
main form.registro-iniciativa fieldset.categoria label input,
main form.tips fieldset.categoria label input {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
main form.registro-iniciativa fieldset.categoria label.checked,
main form.tips fieldset.categoria label.checked {
  color: #ed1941;
}
main form.registro-iniciativa fieldset.categoria label i,
main form.tips fieldset.categoria label i,
main form.registro-iniciativa fieldset.categoria label b,
main form.tips fieldset.categoria label b {
  display: block;
}
main form.registro-iniciativa fieldset.categoria label i,
main form.tips fieldset.categoria label i {
  font-size: 46px;
  margin-bottom: 8px;
}
main form.registro-iniciativa fieldset.categoria label b,
main form.tips fieldset.categoria label b {
  line-height: 100%;
  margin: auto;
  width: 110px;
}
main form.registro-iniciativa fieldset.indicadores,
main form.tips fieldset.indicadores {
  font-size: 0;
  width: 90%;
}
main form.registro-iniciativa fieldset.indicadores label,
main form.tips fieldset.indicadores label {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  position: relative;
  height: 100px;
  width: 33.33%;
}
main form.registro-iniciativa fieldset.indicadores label .campo,
main form.tips fieldset.indicadores label .campo {
  height: 26px;
  position: absolute;
  top: 33px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 26px;
}
main form.registro-iniciativa fieldset.indicadores label .campo:before,
main form.tips fieldset.indicadores label .campo:before {
  background-color: #ed1941;
  content: '';
  display: block;
  height: 18px;
  left: 50%;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  top: 50%;
  width: 18px;
}
main form.registro-iniciativa fieldset.indicadores label .campo input,
main form.tips fieldset.indicadores label .campo input {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  filter: alpha(opacity=0);
}
main form.registro-iniciativa fieldset.indicadores label .campo.checked:before,
main form.tips fieldset.indicadores label .campo.checked:before {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
}
main form.registro-iniciativa fieldset.indicadores label span,
main form.tips fieldset.indicadores label span {
  display: inline-block;
  font-size: 12px;
  position: absolute;
  left: 60px;
  transform: translateY(-50%);
  right: 16px;
  top: 50%;
}
main form.registro-iniciativa a,
main form.tips a {
  display: block;
  cursor: pointer;
  font-size: 12px;
  margin: 16px auto;
  text-align: center;
  width: 160px;
}
main form.tips button {
  color: #373734;
}
main article {
  background-color: #f7f1ed;
  max-width: 720px;
  margin: 30px auto 0;
  width: 70%;
}
main article header {
  position: relative;
}
main article header .foto,
main article header i,
main article header ul {
  display: inline-block;
  vertical-align: middle;
}
main article header ul {
  line-height: 100%;
  text-transform: uppercase;
}
main article header ul li {
  display: block;
}
main article header ul li big {
  font-size: 14px;
}
main article header ul li small {
  font-size: 12px;
}
main article header.top {
  background-color: #ed1941;
  color: #f7f1ed;
  padding: 8px 0;
}
main article header.top .foto {
  margin: 0 6px 0 16px;
}
main article header.titulo {
  margin: 16px;
  margin-left: 0;
  overflow: hidden;
  padding-left: 64px;
}
main article header.titulo .numero {
  display: block;
  color: #ed1941;
  font-size: 24px;
  line-height: 32px;
  left: 0;
  letter-spacing: -2px;
  position: absolute;
  text-align: right;
  width: 52px;
}
main article header.titulo .categoria {
  float: left;
  color: #ed1941;
}
main article header.titulo .categoria i {
  font-size: 32px;
}
main article header.titulo .calificacion {
  float: right;
}
main article header.titulo .calificacion small,
main article header.titulo .calificacion big {
  display: inline-block;
  line-height: 100%;
  vertical-align: baseline;
}
main article .content {
  margin: 16px 16px 16px 64px;
}
main article .content h3 {
  font-weight: normal;
  text-transform: uppercase;
}
main article a {
  background-color: #e1d2c6;
  display: block;
  padding: 8px 0;
  text-align: center;
}
main article a i,
main article a span {
  display: block;
}
main article a i {
  font-size: 20px;
}
main .perfil {
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
  max-width: 960px;
  position: relative;
  /*.foto{
      position: relative;
      width: 146px;
      .vista-previa{
        height: 100%;
        margin: 0;
        width: 100%;
      }
      &:after{
        content: '';
        display: block;
        padding-top: 100%;
      }
    }*/

}
main .perfil .foto {
  float: left;
  height: 150px;
  margin: 16px 32px;
  width: 150px;
}
main .perfil .info {
  left: 214px;
  position: absolute;
  right: 120px;
}
main .perfil .info h3 {
  color: #ed1941;
  margin: 16px 0 0;
}
main .perfil .info h3 big,
main .perfil .info h3 small {
  display: inline-block;
  text-transform: uppercase;
  vertical-align: baseline;
}
main .perfil .info h3 small {
  font-size: 16px;
}
main .perfil .info h3 big {
  font-size: 24px;
}
main .perfil .info h4 {
  font-weight: normal;
  margin: 0 0 16px;
  text-transform: uppercase;
}
main .perfil .info ul {
  font-size: 0;
}
main .perfil .info ul li {
  display: inline-block;
  vertical-align: top;
}
main .perfil .info ul li label,
main .perfil .info ul li span,
main .perfil .info ul li input {
  display: block;
}
main .perfil .info ul li label {
  font-weight: bold;
}
main .perfil .info ul.badges li {
  margin-right: 16px;
  text-align: center;
}
main .perfil .info ul.badges li i {
  background-color: #e1d2c6;
  border: 1px solid #373734;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  width: 30px;
}
main .perfil .info ul.badges li small {
  font-size: 8px;
}
main .perfil .info ul.datos {
  font-size: 0;
  text-align: justify;
}
main .perfil .info ul.datos li {
  font-size: 12px;
  width: 20%;
}
main .perfil .info ul.datos li:first-child {
  width: 40%;
}
main .perfil .decalogo {
  background-color: #ede4dd;
  float: right;
  height: 182px;
  position: relative;
  width: 120px;
}
main .perfil .decalogo a {
  display: block;
  left: 50%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
}
main .perfil .decalogo a i {
  font-size: 60px;
}
main .perfil .decalogo a span {
  display: block;
  font-weight: bold;
}
main .perfil nav {
  clear: both;
  font-size: 0;
  padding: 0;
}
main .perfil nav a {
  background-color: #e8d9ce;
  display: inline-block;
  color: #ed1941;
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: top;
  width: 50%;
}
::-webkit-input-placeholder {
  color: #373734;
}
::-moz-placeholder {
  color: #373734;
}
:-ms-input-placeholder {
  color: #373734;
}
:-moz-placeholder {
  color: #373734;
}
@media (min-width: 768px) {
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin: 0 0 60px;
  }
  header.site {
    background-color: #e8d9ce;
    height: 90px;
    text-align: center;
  }
  header .inner {
    overflow: hidden;
    padding: 20px 0;
  }
  header a {
    font-size: 12px;
  }
  header a:hover {
    color: #ed1941;
  }
  header .logo {
    float: left;
    vertical-align: middle;
  }
  header .logo img {
    display: block;
    height: 50px;
  }
  header .profile {
    float: right;
    font-weight: 900;
    line-height: 32px;
    margin-top: 10px;
  }
  header .profile .icon-login {
    font-size: 32px;
    padding-right: 8px;
    vertical-align: middle;
  }
  header nav {
    display: block;
    font-size: 0;
    left: 53%;
    position: absolute;
    top: 52%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  header nav a {
    display: inline-block;
    font-weight: bold;
    line-height: 100%;
    margin: 0 20px;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    vertical-align: middle;
  }
  header nav a i,
  header nav a span {
    line-height: 28px;
  }
  header nav a i {
    font-size: 24px;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  header nav a i.icon-bleft {
    left: -24px;
  }
  header nav a i.icon-bright {
    right: -24px;
  }
  header nav a:nth-child(3) span {
    line-height: 100%;
  }
  header nav a.active {
    color: #ed1941;
    font-size: 16px;
    margin: 0 30px;
    padding: 0 8px;
  }
  header nav a.active i {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
  }
  main nav {
    padding: 12px 0;
    text-align: center;
  }
  main nav .inner {
    font-size: 0;
  }
  main nav .inner a {
    display: inline-block;
    font-size: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
  }
  main nav .inner a i,
  main nav .inner a span {
    display: inline-block;
    vertical-align: middle;
  }
  main nav .inner a i {
    font-size: 40px;
    margin-right: 8px;
  }
  main nav .inner a span {
    font-weight: bold;
  }
  main nav .inner a:nth-child(2):before,
  main nav .inner a:nth-child(2):after {
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
  }
  main nav .inner a:nth-child(2):before {
    left: 0;
  }
  main nav .inner a:nth-child(2):after {
    right: 0;
  }
  main nav.top .inner a,
  main nav.bottom .inner a {
    padding: 0 12%;
  }
  main nav.top .inner a:first-child,
  main nav.bottom .inner a:first-child {
    padding-left: 0;
  }
  main nav.top .inner a:last-child,
  main nav.bottom .inner a:last-child {
    padding-right: 0;
  }
  main nav.top a:nth-child(2):before,
  main nav.top a:nth-child(2):after {
    height: 30px;
  }
  main nav.bottom a:nth-child(2):before,
  main nav.bottom a:nth-child(2):after {
    height: 20px;
  }
  main nav.main {
    background-color: #e8d9ce;
    padding: 90px 0;
  }
  main nav.main .inner {
    text-align: justify;
  }
  main nav.main .inner:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  main nav.main a {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: 70% 0px;
    background-size: 120px;
    height: 160px;
    padding-top: 120px;
    width: 180px;
  }
  main nav.main a span {
    line-height: 100%;
    font-size: 14px;
  }
  main nav.main a i {
    font-size: 20px;
  }
  main nav.main a u {
    border: 1px solid #373734;
    height: 110%;
    left: 50%;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    top: 50%;
    width: 110%;
  }
  main nav.main a u i {
    border-color: #373734;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 10px;
    margin: 0;
    position: absolute;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    width: 10px;
  }
  main nav.main a u i.tl,
  main nav.main a u i.tr {
    bottom: 100%;
  }
  main nav.main a u i.bl,
  main nav.main a u i.br {
    top: 100%;
  }
  main nav.main a u i.tl,
  main nav.main a u i.bl {
    right: 100%;
  }
  main nav.main a u i.tr,
  main nav.main a u i.br {
    left: 100%;
  }
  main nav.main a.registrar {
    background-image: url('../img/registrar.png');
  }
  main nav.main a.iniciativas {
    background-image: url('../img/iniciativas.png');
    background-position: top;
  }
  main nav.main a.topten {
    background-image: url('../img/topten.png');
  }
  main nav.main a:hover {
    border-color: #373734;
  }
  main nav.main a:hover u {
    height: 100%;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
    width: 100%;
  }
  main nav.main a:hover u i {
    height: 5px;
    width: 5px;
  }
  main form fieldset ul.columnas li {
    width: 50%;
  }
  main .perfil {
    /*background-color: @blanco;
        box-shadow: 0 1px 2px rgba(0,0,0,0.33);
        max-width: 960px;
        position: relative;*/
  
  }
  main .perfil .foto {
    /*float: left;
          height: 150px;
          margin: 16px 32px;
          width: 150px;*/
  
  }
  main .perfil .info {
    padding-bottom: 42px;
    /*
          left: 214px;
          position: absolute;
          right: 120px;
          h3{
            color: @rojo;
            margin: 16px 0 0;
            big,small{
              display: inline-block;
              text-transform: uppercase;
              vertical-align: baseline;
            }
            small{
              font-size: 16px;
            }
            big{
              font-size: 24px;
            }
          }
          h4{
            font-weight: normal;
            margin: 0 0 16px;
            text-transform: uppercase;
          }*/
  
  }
  main .perfil .info ul.badges {
    bottom: 0;
    left: 0;
    position: absolute;
  }
  footer {
    background-color: #000000;
    color: #e8d9ce;
    bottom: 0;
    font-size: 10px;
    height: 60px;
    line-height: 60px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  footer span {
    display: block;
    float: left;
  }
  footer a {
    color: #e8d9ce;
  }
  footer a.logo {
    background-image: url('../img/logo-alive.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 45px;
    display: block;
    height: 60px;
    left: 50%;
    position: absolute;
    top: 0px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 60px;
  }
  footer a.privacidad {
    float: right;
  }
}
